{% extends "bases/bootstrap-visitor.html" %}
{% load staticfiles %}


{% block content %}

{% load bootstrap3 %}

<div class="container">
    {% bootstrap_messages %}

    <h1>Contact</h1>

    <div class="row">
        
    <div class="col-md-4 col-lg-4">

      
  


<form role="form" action="" method="post" class="form" enctype="multipart/form-data">

         {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button type="submit" class="btn btn-primary">
          {% bootstrap_icon "star" %} Submit
        </button>
        {% endbuttons %}
    </div>
</div>
</form>
{% endblock %}